.m8l-copyBlocks_block-wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    overflow: hidden;
}

.m8l-copyBlocks_block-body {
    border-style: none;
    color: #c9d1d9;
    background-color: #161b22;
    padding: 1rem 1.5rem;
    font-weight: 400;
    width: auto;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

.m8l-copyBlocks_block-head {
    display: flex;
    justify-content: right;
    background-color: #0d1117;
    padding: 0.125rem 0.5rem;
}

.m8l-copyBlocks_icon-enable {
    width: 1.5rem;
    height: 1.5rem;
    color: #c9d1d9;
    padding: 0.25rem;
    cursor: pointer;
    border-radius: 0.5rem;
}
.m8l-copyBlocks_icon-enable:hover {
    background-color: #30363d;
}

.m8l-copyBlocks_icon-enable:active {
    background-color: #4b5158;
}

.m8l-copyBlocks_icon-disable {
    width: 1.5rem;
    height: 1.5rem;
    color: #c9d1d9;
    padding: 0.25rem;
    cursor: pointer;
    border-radius: 0.5rem;
    background-color: #30363d;
}

@media screen and (width<=600px) {
    .m8l-copyBlocks_block-body {
        padding: 1rem 1rem;
    }
}
